/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';



body{
    background-color: #F2FBE0;
}

.btn-custom-edit {
    background-color: #df9a4b; 
    color: #fff; 
}

.btn-custom-edit:hover {
    background-color: #c88a3f; 
    color: #fff; 
}