.container{
    margin-top: 50px;
}

.card{
    margin: 50px 0px;
}

h2{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-cart{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card-body{
    display: flex;
    flex-direction: column;
}