.container h3{
    text-align: center;
}

.btn-pizza{
    margin-bottom: 100px;
}

.col{
    display: flex;
    flex-direction: row;
    gap: 30px 200px;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
}

.margin-div{
    margin: 100px 0;
}

.form-check-label{
    width: 100px;
}