<app-carousel></app-carousel>
<br><br>

<div class="container">
    <div class="title">
    <h2>Ofertas</h2><p>(Recoger en tienda)</p>
    </div>
    <div class="offer-content">
        <div class="offers" *ngFor="let product of products">
            <div class="product">
                <img src="{{ product.image }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p>Precio: {{ product.price}} €</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>