.container{
    margin-top: 5em;
}

.custom-btn {
    width: 100%;
    margin-top: 60px;
}

.custom-p {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.edit-section{
    margin-top: 50px;
}