<footer class="footer wrapper">
    <div class="box a ">        
        <img src="../../../assets/images/iconosin.png" alt="Pie de página">
        <p>elforno@gmail.com</p>
    </div>
    <div class="box b">
        <p>Horario: 19:00-24:00 de Lunes a Domingo</p>
        <p>MARTES CERRAMOS POR DESCANSO</p>
        <p>Tlf móvil: 666 666 666</p>
        <p>&copy; Todos los derechos reservados.</p>
    </div>
    <div class="box c">
        <p>Ubicación: Conj. Victoria Local 11</p>
        <p> Coín-Málaga</p>
        <p>Tlf reservas: 951 45 74 15</p>
    </div>
</footer>
